<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Batman</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <div>
        <img src="../img/logobatman.png" alt="Foto Batman">
    </div>
<h1>CURRICULUM VITAE DE BRUCE WAYNE</h1>
</header>
<br>
<br>
<main>
    <section>
<h3> DATOS PERSONALES</h3>
<ul>
    <li>Nombre completo: Bruce Wayne</li>
    <li>Fecha de nacimiento: 01/05/1939</li>
    <li>Lugar de nacimiento: Gotham City</li>
</ul>
</section>
<section>
<h3> FORMACIÓN ACADÉMICA</h3>
<ul class="fechas">
    <li> 1956-1961:Universidad del espantapájaros
            Licenciatura en aeronáutica </li>
    <li>1952-1956: Secundario Gotham
        Bachiller con especialización en trucos</li>
</ul>
</section>
<section>
<h3> EXPERIENCIA LABORAL</h3>
<ul class="fechas">
<li>1975-1985: Desocupado
    <br> Sin trabajo porque se me rompió el batimovil
</li>
<br>
<li>1965-1975: Cazavillanos y demás chusma
<br>Atrapé a Gatubela a joker a Victor Fries lo dejé porque se me congeló la capa </li>
<br>
<li>1962-1965:Aprendiz de superhéroes</li>
<br>
Hice pasantía con Superman. Opté por usar mascara porque no pude aprender a peinarme el rulo</li>
</ul>
</section>
    </main>
    <br>
    <footer>
        <p>0810 - BATMAN
        <img src="../img/iconoinstagram.png" alt="link a instagram">
        <img src="../img/iconolinkedin.png" alt="link a linkedin">
        </p>
    </footer>
</body>
</html>